{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react"],
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "plugin:@next/next/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "import/order": ["warn", { "newlines-between": "always" }],
    "no-async-promise-executor": "warn",
    "no-case-declarations": "warn",
    "no-console": ["error", { "allow": ["error", "info"] }],
    "no-constant-condition": "warn",
    "no-empty": "warn",
    "no-extra-boolean-cast": "warn",
    "no-fallthrough": "warn",
    "no-useless-catch": "warn",
    "no-var": "warn",
    "prefer-const": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "warn",
    "react/jsx-sort-props": ["warn", { "callbacksLast": true }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-unknown-property": "warn",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "sort-vars": "warn"
  }
}
