/* Roboto */

@font-face {
  font-family: Roboto;
  font-weight: 100;
  src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/Roboto-ThinItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 600;
  src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Roboto-BoldItalic.ttf');
}

/* RobotoCondensed */

@font-face {
  font-family: RobotoCondensed;
  font-weight: 300;
  src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
  font-family: RobotoCondensed;
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/RobotoCondensed-LightItalic.ttf');
}

@font-face {
  font-family: RobotoCondensed;
  font-weight: 400;
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: RobotoCondensed;
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
  font-family: RobotoCondensed;
  font-weight: 700;
  src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: RobotoCondensed;
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/RobotoCondensed-BoldItalic.ttf');
}
